<!--users/templates/registration/login.html-->

{% extends 'base.html' %}

{% block content %}
<div class="actualEvent">
    <div class = "container">
       <div class="actualEventText">Login</div>
    </div>
 </div>

 <form class="formun" method="post"> {% csrf_token %} 
    {{ form.as_p }}
    <input class="btn btn-secundary" type="submit" value="Login">
    <br>
    <br>
    <br>
    <a href="{% url 'password_reset' %}" class="btn btn-secundary">Esqueci minha senha</a>
    <a href="{% url 'register' %}" class="btn btn-secundary">Cadastre-se</a>
 </form> 

{% endblock %}