
{% extends 'base.html' %}

{% block content %}
<div class="actualEvent">
    <div class = "container">
       <div class="actualEventText">Resetar senha</div>
    </div>
 </div>

 <form class="formun" method="post"> {% csrf_token %} 
     <h1>Enviar link para resetar senha</h1>
    {{ form.as_p }}
    <input class="btn btn-secundary" type="submit" value="Reset">
    <br>
    <br>
    <br>
    <a href="{% url 'dashboard' %}" class="btn btn-secundary">Voltar à Dashboard</a>
 </form> 

{% endblock %}