<!--users/templates/registration/password_change_form.html-->

{% extends 'base.html' %}

{% block content %}
<div class="actualEvent">
    <div class = "container">
       <div class="actualEventText">Alterar minha senha</div>
    </div>
 </div>

 <form class="formun" method="post"> {% csrf_token %} 
    {{ form.as_p }}
    <input class="btn btn-secundary" type="submit" value="Change">
    <br>
    <br>
    <br>
    <a href="{% url 'dashboard' %}" class="btn btn-secundary">Voltar à Dashboard</a>
 </form> 

{% endblock %}